extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")      
    .table-data            
        a.btn.add-button Add data        
        .table-search
            form(action='/studentdetail/data-search')
                input.search-input(type='text', name='search-name', placeholder='Input student id here...')
                button.search-button Search        
        form.form-create(method="post",action="/studentdetail/create")
            fieldset
                legend Student detail
                table.table-create
                    tr
                        td
                            label(for="studentid") Id: 
                        td
                            input(type="text" name="studentid" id="studentid" placeholder="Identification")
                    tr
                        td 
                            label(for="dob") DoB: 
                        td
                            input(type="text" name="dob" id="dob" placeholder="Date of birth")
                    tr
                        td
                            label(for="gender") Gender: 
                        td
                            input(type="text" name="gender" id="gender" placeholder="Gender") 
                    tr
                        td
                            label(for="city") City: 
                        td
                            input(type="text" name="city" id="city" placeholder="City")
                    tr
                        td 
                            label(for="address") Address: 
                        td
                            input(type="text" name="address" id="address" placeholder="Address")
                    tr
                        td
                            label(for="phone") Phone: 
                        td
                            input(type="text" name="phone" id="phone" placeholder="Phone number")                    
            a.btn.cancel-button Cancel
            button.btn.save-btn(type="submit") Save                
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        form(action="/studentDetail/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='id',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-dob(title='Dob')
                        | DoB 
                        form(action="/studentDetail/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='dob',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')                    
                    th#sort-gender(title='Gender')
                        | Gender
                        form(action="/studentDetail/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='gender',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-city(title='City')
                        | City
                        form(action="/studentDetail/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='city',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-address(title='Address')
                        | Address
                        form(action="/studentDetail/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='address',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-phone(title='phone')
                        | Phone
                    th#functions(title='Action')
                        | Action                        
            tbody.tbody                
                each ChildStudentDetail in listStudentDetail              
                    tr.tb-data
                        td #{ChildStudentDetail.Id}
                        td #{ChildStudentDetail.DoB}
                        td #{ChildStudentDetail.Gender}
                        td #{ChildStudentDetail.City}
                        td #{ChildStudentDetail.Address}
                        td #{ChildStudentDetail.Phone}
                        td.function                            
                            a(href="/studentDetail/data-delete/"+ChildStudentDetail.Id)
                                    span.icon.icon-del(id='') 
                            a(href="/studentDetail/data-modify/"+ChildStudentDetail.Id+'&'+ChildStudentDetail.DoB+'&'+ChildStudentDetail.Gender+'&'+ChildStudentDetail.City+'&'+ChildStudentDetail.Address+'&'+ChildStudentDetail.Phone)
                                    span.icon.icon-mod(id='')
                caption(title='Student details') Table name: Student details
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/studentDetail/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/studentDetail/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/studentDetail/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/studentDetail/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/studentDetail/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value=total)    
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/studentDetail.css")                    
    script(src="/scripts/open-createForm.js")