extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")      
    .table-data            
        a.btn.add-button Add data        
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input student id here...')
                button.search-button Search        
        form.form-create(method="post",action="/student/create")
            fieldset
                legend Student detail
                table.table-create
                    tr
                        td
                            label(for="id") Id: 
                        td
                            input(type="text" name="id" id="id" placeholder="Identification")
                    tr
                        td 
                            label(for="DoB") DoB: 
                        td
                            input(type="text" name="DoB" id="DoB" placeholder="Date of birth")
                    tr
                        td
                            label(for="gender") Gender: 
                        td
                            input(type="text" name="gender" id="gender" placeholder="Gender") 
                    tr
                        td
                            label(for="city") City: 
                        td
                            input(type="text" name="city" id="city" placeholder="City")
                    tr
                        td 
                            label(for="address") Address: 
                        td
                            input(type="text" name="address" id="address" placeholder="Address")
                    tr
                        td
                            label(for="phone") Phone: 
                        td
                            input(type="text" name="phone" id="phone" placeholder="Phone number")                    
            a.btn.cancel-button Cancel
            button.btn.save-btn(type="submit") Save                
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        span.icon.icon-sort(id='')
                    th#sort-dob(title='Dob')
                        | DoB 
                        span.icon.icon-sort(id='')                    
                    th#sort-gender(title='Gender')
                        | Gender
                        span.icon.icon-sort(id='')
                    th#sort-city(title='City')
                        | City
                        span.icon.icon-sort(id='')
                    th#sort-address(title='Address')
                        | Address
                        span.icon.icon-sort(id='')
                    th#sort-phone(title='Phone')
                        | Phone
                        span.icon.icon-sort(id='')
                    th#functions(title='Action')
                        | Action                        
            tbody.tbody
                each ChildFalculty in listFalculty
                    tr.tb-data
                        td
                        td
                        td
                        td.function                            
                            a(href="#")
                                span.icon.icon-del(id='')                            
                            a(href="#")
                                span.icon.icon-mod(id='')
                caption(title='Student details') Table name: Student details
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/studentDetail/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/studentDetail/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/studentDetail/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/studentDetail/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/studentDetail/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value='')    
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/studentDetail.css")                    
    script(src="/scripts/open-createForm.js")