extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/subject.css")    
    form.form-create(method="post",action="/subject/data-modify/"+data.id)
        fieldset
            legend New subject information
            table.table-create
                tr
                    td
                        label(for="subjectid") Id: 
                    td
                        input(type="text" name="subjectid" id="subjectid" placeholder=data.id, value=data.id)
                tr
                    td
                        label(for="majorid") Major: 
                    td
                        input(type="text" name="majorid" id="majorid" placeholder=data.majorid, value=major.id)
                tr
                    td 
                        label(for="subjectname") Name: 
                    td
                        input(type="text" name="subjectname" id="subjectname" placeholder=data.subjectname, value=data.subjectname)
                tr
                    td 
                        label(for="credit") Credit: 
                    td
                        input(type="text" name="credit" id="credit" placeholder=data.credit, value=data.credit)
            button.btn.save-btn(type="submit") Save
            a.btn(href="/subject/data") Back