extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='/subject/data-search')
                input.search-input(type='text', name='search-name', placeholder='Input subject name here...')
                button.search-button Search  
        form.form-create(method="post",action="/subject/create")
            fieldset
                legend New subject information
                table.table-create
                    tr
                        td
                            label(for="subjectid") Id: 
                        td
                            input(type="text" name="subjectid" id="subjectid" placeholder="Subject identification")
                    tr
                        td 
                            label(for="majorid") Major Id: 
                        td
                            input(type="text" name="majorid" id="majorid" placeholder="Major identification")
                    tr                    
                        td
                            label(for="subjectname") Name: 
                        td
                            input(type="text" name="subjectname" id="subjectname" placeholder="Subject name")                   
                    tr
                        td 
                            label(for="credit") Credit: 
                        td
                            input(type="text" name="credit" id="credit" placeholder="Total credit")
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save      
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        form(action="/subject/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='id',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-major-id(title='Major identification')
                        | Major Id 
                        form(action="/subject/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='majorid',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-name(title='Subject name')
                        | Subject name 
                        form(action="/subject/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='subjectname',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')   
                    th#sort-credit(title='Credit name')
                        | Credit 
                        form(action="/subject/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='credit',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')                 
                    th#functions(title='Functions')
                        | Action                        
            tbody.tbody
                each ChildSubject in listSubject              
                    tr.tb-data
                        td #{ChildSubject.Id}
                        td #{ChildSubject.MajorId}
                        td #{ChildSubject.SubjectName}
                        td #{ChildSubject.Credit}                    
                        td.function
                            a(href="/subject/data-delete/"+ChildSubject.Id)
                                    span.icon.icon-del(id='') 
                            a(href="/subject/data-modify/"+ChildSubject.Id+'&'+ChildSubject.MajorId+'&'+ChildSubject.SubjectName+'&'+ChildSubject.Credit)
                                    span.icon.icon-mod(id='')                                       
                caption(title='Majors subjects') Table name: Cantho univerysity's subjects
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/subject/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/subject/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/subject/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/subject/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/subject/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value=total)    
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/subject.css")                    
    script(src="/scripts/open-createForm.js")