extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/subject-data.css", type="text/css")
    .table-data
        .table-search
            form(action='')
            input.search-input(type='text', name='search-name', placeholder='Input major name here...')
            button.search-button Search
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        i.fas.fa-sort
                    th#sort-major-id(title='Major identification')
                        | Major Id 
                        i.fas.fa-sort
                    th#sort-name(title='Subject name')
                        | Subject name 
                        i.fas.fa-sort
                    th#sort-credit(title='Credit')
                        | Credits 
                        i.fas.fa-sort
                    th#functions(title='Functions')
                        | Functions                        
            tbody.tbody
                tr.tb-data
                    td(title='') Unknown Id 1
                    td(title='') Unknown Name
                    td(title='') Unknown Dean
                    td(title='') Unknown Dean
                    td.function(title='')
                        a(href="#")
                            i.fas.fa-trash-alt(id='')
                        a(href="#")
                            i.fas.fa-pencil-alt(id='')
                        a(href="#")
                            i.fas.fa-eye(id='')
                tr.tb-data
                    td(title='') Unknown Id 2
                    td(title='') Unknown Name
                    td(title='') Unknown Dean
                    td(title='') Unknown Dean
                    td.function(title='')
                        a(href="#")
                            i.fas.fa-trash-alt(id='')
                        a(href="#")
                            i.fas.fa-pencil-alt(id='')
                        a(href="#")
                            i.fas.fa-eye(id='')
                caption(title='Majors subjects') Table name: Cantho univerysity's subjects
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/subject/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    i#previous.fas.fa-arrow-alt-circle-left
            else
                a.pagination(href=`/subject/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    i#previous.fas.fa-arrow-alt-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)
                    if(page === pageIndex)
                        a.activating.page-index(href=`/subject/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/subject/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/subject/data?page=${page+1}&size=${item}`).pagination
                i#previous.fas.fa-arrow-alt-circle-right
            .total-item
                label(for='total-item') Total subjects:
                input#total-item(type='button', value='')
    
