extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input falculty name here...')
                button.search-button Search        
        form.form-create(method="post",action="/class/create")
            fieldset
                legend New class information
                table.table-create
                    tr
                        td
                            label(for="classid") Id: 
                        td
                            input(type="text" name="classid" id="classid" placeholder="Class identification")
                    tr
                        td 
                            label(for="majorid") Major Id: 
                        td
                            input(type="text" name="majorid" id="majorid" placeholder="Major identification")
                    tr                    
                        td
                            label(for="classname") Name: 
                        td
                            input(type="text" name="classname" id="classname" placeholder="Class name")                   
                    tr
                        td 
                            label(for="teachername") Head teacher: 
                        td
                            input(type="text" name="teachername" id="teachername" placeholder="Head teacher name")
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        span.icon.icon-sort(id='')
                    th#sort-name(title='Name')
                        | Faculty name 
                        span.icon.icon-sort(id='')
                    th#sort-dean(title='Dean')
                        | Dean 
                        span.icon.icon-sort(id='')
                    th#functions(title='Functions')
                        | Action                        
            tbody.tbody
                each ChildFalculty in listFalculty
                    tr.tb-data
                        td
                        td
                        td
                        td.function                            
                            a(href="#")
                                span.icon.icon-del(id='')                            
                            a(href="#")
                                span.icon.icon-mod(id='')
                            a(href="#")
                                span.icon.icon-view(id='') 
                caption(title='CTU Classes') Table name: Cantho univerysity's classes
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/class/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/class/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/class/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/class/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/class/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value='')    
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/class.css")                    
    script(src="/scripts/open-createForm.js")