extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='/falculty/data-search')
                input.search-input(type='text', name='search-name', placeholder='Input falculty name here...')
                button.search-button Search        
        form.form-create(method="post",action="/falculty/create")
            fieldset
                legend New falculty information
                table.table-create
                    tr
                        td
                            label(for="falid") Id: 
                        td
                            input(type="text" name="falid" id="falid" placeholder="Faculty identification")
                    tr
                        td
                            label(for="falname") Name: 
                        td
                            input(type="text" name="falname" id="falname" placeholder="Faculty name")
                    tr
                        td 
                            label(for="dean") Dean: 
                        td
                            input(type="text" name="dean" id="dean" placeholder="Dean name")
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        form(action="/falculty/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='id',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-name(title='Name')
                        | Faculty name 
                        form(action="/falculty/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='falname',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-dean(title='Dean')
                        | Dean
                        form(action="/falculty/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='dean',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#functions(title='Functions')
                        | Action                        
            tbody.tbody
                each ChildFalculty in listFalculty
                    tr.tb-data
                        td(title='') #{ChildFalculty.Id}
                        td(title='') #{ChildFalculty.FalName}
                        td(title='') #{ChildFalculty.Dean}
                        td.function
                            a(href="/falculty/data-delete/"+ChildFalculty.Id)
                                span.icon.icon-del(id='') 
                            a(href="/falculty/data-modify/"+ChildFalculty.Id+'&'+ChildFalculty.FalName+'&'+ChildFalculty.Dean)
                                span.icon.icon-mod(id='')
                caption(title='CTU Falculties') Table name: Cantho univerysity's falculties
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/falculty/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/falculty/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/falculty/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/falculty/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/falculty/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value=total)        
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/faculty.css")                    
    script(src="/scripts/open-createForm.js")