extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a(href="/falculty/create").add-button Add data        
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input falculty name here...')
                button.search-button Search
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        span.icon.icon-sort(id='')
                    th#sort-name(title='Name')
                        | Faculty name 
                        span.icon.icon-sort(id='')
                    th#sort-dean(title='Dean')
                        | Dean 
                        span.icon.icon-sort(id='')
                    th#functions(title='Functions')
                        | Action                        
            tbody.tbody
                each ChildFalculty in listFalculty
                    tr.tb-data
                        td #{ChildFalculty.Id}
                        td #{ChildFalculty.FalName}
                        td #{ChildFalculty.Dean}
                        td.function                              
                            a(href="#")
                                span.icon.icon-del(id='')                            
                            a(href="#")
                                span.icon.icon-mod(id='')
                            a(href="")
                                span.icon.icon-view(id='')
                caption(title='CTU Falculties') Table name: Cantho univerysity's falculties
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/falculty/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/falculty/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/falculty/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/falculty/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/falculty/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value='')    
