extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/falculty-data.css", type="text/css")
    .table-data
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input falculty name here...')
                button.search-button Search
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        i.fas.fa-sort
                    th#sort-name(title='Name')
                        | Faculty name 
                        i.fas.fa-sort
                    th#sort-dean(title='Dean')
                        | Dean 
                        i.fas.fa-sort
                    th#functions(title='Functions')
                        | Functions                        
            tbody.tbody
                each ChildFalculty in listFalculty
                    tr.tb-data
                        td(title='') #{ChildFalculty.Id}
                        td(title='') #{ChildFalculty.FalName}
                        td(title='') #{ChildFalculty.Dean}
                        td.function(title='')
                            i.fas.fa-trash-alt(id='')
                            i.fas.fa-pencil-alt(id='')
                            i.fas.fa-eye(id='')
                caption(title='CTU Falculties') Table name: Cantho univerysity's falculties
        .paginator
            .total-item-page
                label(for='total-item-page') Total item per page:
                select#total-item-page(name='total-item-page', onchange=`location = this.value`)
                    option(value=`/falculty/data?page=${currentPage}&data=5`) Pick
                    option(value=`/falculty/data?page=${currentPage}&data=5`) 5
                    option(value=`/falculty/data?page=${currentPage}&data=10`) 10
                    option(value=`/falculty/data?page=${currentPage}&data=25`) 25
                    option(value=`/falculty/data?page=${currentPage}&data=50`) 50
                    option(value=`/falculty/data?page=${currentPage}&data=100`) 100
            i#previous.fas.fa-arrow-alt-circle-left.pagination
            .number
                input.page-index(type='button', value='1')
                input.page-index(type='button', value='2')
                input.page-index(type='button', value='3')
                input.page-index(type='button', value='4')
                input.page-index(type='button', value='5')
            i#next.fas.fa-arrow-alt-circle-right.pagination
            .total-item
                label(for='total-item') Total faculties:
                input#total-item(type='button', value='')
