extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input major name here...')
                button.search-button Search 
        form.form-create(method="post",action="/major/create")
            fieldset
                legend New major information
                table.table-create
                    tr
                        td
                            label(for="majorid") Id: 
                        td
                            input(type="text" name="majorid" id="majorid" placeholder="Major identification")
                    tr
                        td
                            label(for="majorname") Name: 
                        td
                            input(type="text" name="majorname" id="majorname" placeholder="Major name")
                    tr
                        td 
                            label(for="facultyid") Faculty Id: 
                        td
                            input(type="text" name="facultyid" id="facultyid" placeholder="Faculty identification")
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save       
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        form(action="/major/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='id',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-falculty-id(title='Major Identification')
                        | Faculty Id 
                        form(action="/major/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='falid',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-name(title='Name')
                        | Major name 
                        form(action="/major/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='majorname',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#functions(title='Functions')
                        | Functions                         
            tbody.tbody
                each ChildMajor in listMajor
                    tr.tb-data
                        td(title='') #{ChildMajor.Id}
                        td(title='') #{ChildMajor.FalId}
                        td(title='') #{ChildMajor.MajorName}
                        td.function(title='')
                            a(href="/major/data-delete/"+ChildMajor.Id)
                                span.icon.icon-del(id='') 
                            a(href="/major/data-modify/"+ChildMajor.Id+'&'+ChildMajor.FalId+'&'+ChildMajor.MajorName)
                                span.icon.icon-mod(id='')
                            a(href="")
                                span.icon.icon-view(id='') 
                caption(title='CTU Majors') Table name: Cantho univerysity's majors
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/major/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/major/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/major/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/major/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/major/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value=total)     
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/faculty.css")                    
    script(src="/scripts/open-createForm.js")
