extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='/student/data-search')
                input.search-input(type='text', name='search-name', placeholder='Input student name here...')
                button.search-button Search        
        form.form-create(method="post",action="/student/create")
            fieldset
                legend New student information
                table.table-create
                    tr
                        td
                            label(for="studentid") Id: 
                        td
                            input(type="text" name="studentid" id="studentid" placeholder="Student identification")
                    tr
                        td 
                            label(for="classid") Class Id: 
                        td
                            input(type="text" name="classid" id="classid" placeholder="Class identification")
                    tr
                        td
                            label(for="studentname") Name: 
                        td
                            input(type="text" name="studentname" id="studentname" placeholder="Student name")                    
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        form(action="/student/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='id',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-class-id(title='Class Identification')
                        | Class Id 
                        form(action="/student/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='classid',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#sort-name(title='Student Name')
                        | Student name 
                        form(action="/student/data")
                            input(type="text", name="sort", value=sort,style="display:none")
                            input(type="text", name="column", value='studentname',style="display:none")
                            button(type="submit")
                                span.icon.icon-sort(id='')
                    th#functions(title='Functions')
                        | Action                         
            tbody.tbody
                each ChildStudent in listStudent
                    tr.tb-data
                        td #{ChildStudent.Id}
                        td #{ChildStudent.ClassId}                
                        td #{ChildStudent.StudentName}
                        td.function
                            a(href="/student/data-delete/"+ChildStudent.Id)
                                span.icon.icon-del(id='')                            
                            a(href="/student/data-modify/"+ChildStudent.Id+'&'+ChildStudent.ClassId+'&'+ChildStudent.StudentName)
                                span.icon.icon-mod(id='') 
                            a(href="#")
                                span.icon.icon-view(id='') 
                caption(title='CTU Majors') Table name: Cantho univerysity's students
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/student/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/student/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/student/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/student/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/student/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value=total)    
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/student.css")                    
    script(src="/scripts/open-createForm.js")