extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/student.css")    
    form.form-create.modify(method="post",action="/student/data-modify/"+data.id)
        fieldset
            legend New student information
            table.table-create
                tr
                    td
                        label(for="studentid") Id: 
                    td
                        input(type="text" name="studentid" id="studentid" placeholder=data.id, value=data.id)
                tr
                    td 
                        label(for="classid") Class: 
                    td
                        input(type="text" name="classid" id="classid" placeholder=data.classid, value=data.classid)
                tr
                    td 
                        label(for="studentname") Name: 
                    td
                        input(type="text" name="studentname" id="studentname" placeholder=data.studentname, value=data.studentname)
            button.btn.save-btn(type="submit") Save
            a.btn(href="/student/data") Back