extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/student-data.css", type="text/css")
    .table-data
        .table-search
            form(action='')
            input.search-input(type='text', name='search-name', placeholder='Input student name here...')
            button.search-button Search
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        i.fas.fa-sort
                    th#sort-class-id(title='Class Identification')
                        | Class Id 
                        i.fas.fa-sort
                    th#sort-major-id(title='Major Identification')
                        | Major Id 
                        i.fas.fa-sort
                    th#sort-name(title='Student Name')
                        | Student name 
                        i.fas.fa-sort
                    th#functions(title='Functions')
                        | Functions                         
            tbody.tbody
                tr.tb-data
                    td(title='') Unknown Id 1
                    td(title='') Unknown Name
                    td(title='') Unknown Dean
                    td(title='') Unknown Dean
                    td.function(title='')
                        a(href="#")
                            i.fas.fa-trash-alt(id='')
                        a(href="#")
                            i.fas.fa-pencil-alt(id='')
                        a(href="#")
                            i.fas.fa-eye(id='')
                tr.tb-data
                    td(title='') Unknown Id 2
                    td(title='') Unknown Name
                    td(title='') Unknown Dean
                    td(title='') Unknown Dean
                    td.function(title='')
                        a(href="#")
                            i.fas.fa-trash-alt(id='')
                        a(href="#")
                            i.fas.fa-pencil-alt(id='')
                        a(href="#")
                            i.fas.fa-eye(id='')
                caption(title='CTU Majors') Table name: Cantho univerysity's students
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/student/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    i#previous.fas.fa-arrow-alt-circle-left
            else
                a.pagination(href=`/student/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    i#previous.fas.fa-arrow-alt-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/student/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/student/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/student/data?page=${page+1}&size=${item}`).pagination
                i#previous.fas.fa-arrow-alt-circle-right
            .total-item
                label(for='total-item') Total students:
                input#total-item(type='button', value='')
    link(rel="preload" as="style" onload="this.rel='stylesheet'"  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous")    
