extends ../layout/common

block main    
    link(rel="stylesheet", href="/styles/functions.css")
    .functions
        .list
            button.btn Total students in each faculty
            button.btn Avarage point
            button.btn Pick student for scholarship
            button.btn The most failed subject
            button.btn Full student information
            button.btn Bad students
        .show-board
            .function-item#total-stu
                .input
                    form(action="/functions/total-stu", method="get")
                        input(type="text", name="falculty-name", placeholder="Faculty name")
                        button(type="submit") Run
                .output
                    fieldset
                        legend Results
                        | Total student
                        input(type="text", value=data_total_student)
            .function-item#avg-point
                .input
                    form(action="/functions/avg-point", method="get")
                        input(type="text", name="student-code", placeholder="Student code")
                        input(type="text", name="semester", placeholder="Semester")
                        input(type="text", name="year", placeholder="Year")
                        button(type="submit") Run
                .output
                    fieldset
                        legend Results
                        | Avarage point
                        input(type="text", value=data_avg)
            .function-item#stu-scho
                .input
                    form(action="/functions/stu-scho", method="get")
                        input(type="text", name="falculty-name", placeholder="Faculty name")
                        input(type="text", name="semester", placeholder="Semester")
                        input(type="text", name="year", placeholder="Year")
                        button(type="submit") Run
                .output
                    fieldset
                        legend Results
                        | Student list
                        ul
                            if data_stu_scho
                                each student in data_stu_scho
                                    li=student.ID +" - " +student.studentname +" - " +student.avg
                                    //- li=student.STUDENTNAME
                                    //- li=student.AVG
            .function-item#failed-subject
                .input
                    form(action="/functions/failed-subject", method="get")
                        input(type="text", name="major-name", placeholder="Major name")
                        input(type="text", name="semester", placeholder="Semester")
                        input(type="text", name="year", placeholder="Year")
                        button(type="submit") Run
                .output
                    fieldset
                        legend Results
                        | Subject name
                        input(type="text", value=data_fail_sub)
            .function-item#full-stu-info
                .input
                    form(action="/functions/full-stu-info", method="get")
                        input(type="text", name="student-code", placeholder="Student code")
                        button(type="submit") Run
                .output
                    fieldset
                        legend Results
                        | Name
                        input(type="text", value=data_stu_info_stu)
                        | Class
                        input(type="text", value=data_stu_info_class)
                        | Major
                        input(type="text", value=data_stu_info_major)
                        | Faculty
                        input(type="text", value=data_stu_info_falname)
            .function-item#bad-stu
                .input
                    form(action="/functions/bad-stu", method="get")
                        input(type="text", name="semester", placeholder="Semester")
                        input(type="text", name="year", placeholder="Year")
                        button(type="submit") Run
                .output                    
                    fieldset
                        legend Results
                        | Number of students                       
                        input(type="text", value=data_bad_stu) 
    script(src="/scripts/functions.js")





