extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input score record here...')
                button.search-button Search        
        form.form-create(method="post",action="/scoreRecord/create")
            fieldset
                legend New record information
                table.table-create
                    tr
                        td
                            label(for="subjectid") Subject Id: 
                        td
                            input(type="text" name="subjectid" id="subjectid" placeholder="Subject identification")
                    tr
                        td
                            label(for="studentid") Student Id: 
                        td
                            input(type="text" name="studentid" id="studentid" placeholder="Student identification")
                    tr
                        td
                            label(for="year") Year: 
                        td
                            input(type="text" name="year" id="year" placeholder="Year")
                    tr
                        td 
                            label(for="semester") Semester: 
                        td
                            input(type="text" name="semester" id="semester" placeholder="Semester")
                    tr
                        td
                            label(for="score") Score: 
                        td
                            input(type="text" name="score" id="score" placeholder="Score")
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        span.icon.icon-sort(id='')
                    th#sort-student-id(title='Student Id')
                        | Student Id 
                        span.icon.icon-sort(id='')
                    th#sort-year(title='Year')
                        | Year
                        span.icon.icon-sort(id='')
                    th#sort-semester(title='Semester')
                        | Semester 
                        span.icon.icon-sort(id='')
                    th#sort-score(title='Score')
                        | Score
                        span.icon.icon-sort(id='')
                    th#functions(title='Action')
                        | Action                         
            tbody.tbody
                tr.tb-data
                    td
                    td
                    td
                    td
                    td
                    td.function
                        a(href="#")
                            span.icon.icon-del(id='')                            
                        a(href="#")
                            span.icon.icon-mod(id='')
                caption(title='CTU Score Records') Table name: Cantho univerysity's score records
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/scoreRecord/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/scoreRecord/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/scoreRecord/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/scoreRecord/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/scoreRecord/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value='')    
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/scoreRecord.css")                    
    script(src="/scripts/open-createForm.js")