extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/data-tables.css", type="text/css")
    link(rel="stylesheet", href="/styles/my-fontawesome.css", type="text/css")        
    .table-data                    
        a.btn.add-button Add data        
        .table-search
            form(action='')
                input.search-input(type='text', name='search-name', placeholder='Input course name here...')
                button.search-button Search  
        form.form-create(method="post",action="/course/create")
            fieldset
                legend New faculty information
                table.table-create
                    tr
                        td
                            label(for="courseid") Id: 
                        td
                            input(type="text" name="courseid" id="courseid" placeholder="Course identification")
                    tr
                        td
                            label(for="coursename") Name: 
                        td
                            input(type="text" name="coursename" id="coursename" placeholder="Course name")
                    tr
                        td 
                            label(for="dean") Dean: 
                        td
                            input(type="text" name="dean" id="dean" placeholder="Dean name")
                a.btn.cancel-button Cancel
                button.btn.save-btn(type="submit") Save
        table.table
            thead.thead
                tr
                    th#sort-id(title='Identification') 
                        | Id 
                        span.icon.icon-sort(id='')
                    th#sort-name(title='Name')
                        | Faculty name 
                        span.icon.icon-sort(id='')
                    th#sort-dean(title='Dean')
                        | Dean 
                        span.icon.icon-sort(id='')
                    th#functions(title='Functions')
                        | Action                        
            tbody.tbody
                each ChildFalculty in listFalculty
                    tr.tb-data
                        td
                        td
                        td
                        td.function                            
                            a(href="#")
                                span.icon.icon-del(id='')                            
                            a(href="#")
                                span.icon.icon-mod(id='')
                            a(href="#")
                                span.icon.icon-view(id='')  
                caption(title='CTU Courses') Table name: Cantho univerysity's courses
        //- Paginating  
        .paginator                                  
            - var pageIndex = 1
            if(page === 1)                                
                a.pagination(href=`/course/data?page=${page}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            else
                a.pagination(href=`/course/data?page=${page-1}&size=${item}` style="margin-right: .5rem")
                    span#previous.icon.icon-arrow-circle-left
            .number                                 
                - for(var i = 0; i < 5; i++, pageIndex++)                    
                    if(page === pageIndex)
                        a.activating.page-index(href=`/course/data?page=${pageIndex}&size=${item}`)= pageIndex
                    else
                        a.page-index(href=`/course/data?page=${pageIndex}&size=${item}`)= pageIndex
            a(href=`/course/data?page=${page+1}&size=${item}`).pagination
                span.icon.icon-arrow-circle-right#previous
            .total-item
                label(for='total-item') Total:
                input#total-item(type='button', value='')    
        link(rel="stylesheet", href="/styles/create-forms.css")    
        link(rel="stylesheet", href="/styles/course.css")                    
        script(src="/scripts/open-createForm.js")